<script type="text/javascript">
$.fn.center = function (top_offset) {
	window_width =  $(window).width() > 500 ? $(window).width() : 500;
    this.css("position","absolute");
	this.css("top", ($('.splash_box').position().top + top_offset)  + 'px');
    this.css("left", ((window_width - this.outerWidth()) / 2) + $(window).scrollLeft() + "px");
    return this;
}
$(window).load(function() {
	$(window).resize(function() {
		$('#content').css('margin-left', ($(window).width()-$('#content .splash_box').width())/2 + 'px');
		$('.form').center(0);
	});
	$('#content').css('margin-top', '10px');
	$('#content').css('margin-left', ($(window).width()-$('#content .splash_box').width())/2 + 'px');
	$('.form').center(0);
});
</script>
<div id='content'>
<%= image_tag "../images/splash_box.png", :class=>'splash_box' %>
<div class='form'>
<h3>Ask a question!</h3> 

<%= render 'form' %>
</div>
</div>