<fieldset>
<div class="post_header">
	<div class="post_user_time">
		<%= image_tag "../images/splash_bottom_tile.png", :size=>"30x30", :class =>'post_user_pic' %>
		<span class="post_username">
			<%=link_to "Shovel", profile_path %>
		</span><br>
		<span class="post_date">
			June 1, 2011
		</span>
	</div>
	<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=Berkeley,CA&zoom=13&size=100x100&sensor=false", :class =>'post_map' %>
	<span class="post_title">
		How can we make People's Park less scary for everyone?
	</span>
</div>
<br>
<span class="post_description">
Description: I've never felt safe even coming close to this area of Berkeley. Does anyone else feel this way and why? How can we make it less scary?
</span>
<br>
<span class="post_replies">
Replies
</span>
</fieldset>