<fieldset>
<%= image_tag "../images/splash_bottom_tile.png", :size=>"30x30" %>
<span class="post_username">
	<%=link_to "Shovel", profile_path %>
</span>
<span class="post_title">
	How can we make People's Park less scary for everyone?
</span>
<br>
<span class="post_description">
Description: I've never felt safe even coming close to this area of Berkeley. Does anyone else feel this way and why? How can we make it less scary?
</span>
<br>
<span class="post_replies">
Replies
</span>
</fieldset>