<div id="container">
		<div class="row" id="navbar">
			<div class="span3">
				<img src="assets/img/logo.png"  />
			</div>
			<div class="span9">
				<div class="row">
					<div class="span3 offset7">
						<a href="#">Register</a>
						&nbsp;&nbsp;|&nbsp;&nbsp;
						<a href="#">Login</a>
						</div>
				</div>
				<div class="row">
					<div class="span3 offset1">
						<h2>Now exploring: </h2>
					</div>
					<div class="span3">
						<form class="navbar-form pull-left navform">
					  		<input type="text" class="span3" value="Berkeley, CA">
						</form>
					</div>
				</div>
				<div class="row">
					<div class="navbar">
					  <div class="navbar-inner">

							<ul class="nav">
							  <li><a href="#">Ask Questions</a></li>
							  <li><a href="#">Connect to Others</a></li>
							  <li><a href="#">Post Challenges</a></li>
							  <li><a href="#">Organize Events</a></li>
							  <li><a href="#">Projects</a></li>
							</ul>

					  </div>
					</div>
				</div>
			</div>
		</div>
		<div id="content">
			<br>
			<h1>Sign in or Register</h1>
			<br><br>
			<div class="row">		
				<div class="span4 offset1 register">
					<h3>Please sign in:</h3><br>
					<form>  
						<label>Your email</label>
						<input type="text" class="span3" placeholder="Email"> 
						<br>
						<label>Your password</label>
						<input type="text" class="span3" placeholder="Password">  
						<br>
						<label class="checkbox">  
						<input type="checkbox"> Remember me
						</label>  
						<button type="submit" class="btn">Sign In</button>  
					</form>  
				</div>
				<div class="span5 register">
					<h3>Please register:</h3><br>
					<form>  
						<label>Your desired username</label>
						<input type="text" class="span3" placeholder="Email"> 
						<br>
						<label>Your email address</label>
						<input type="text" class="span3" placeholder="Password">  
						<br>
						<label>Your password</label>
						<input type="text" class="span3" placeholder="Password">  
						<br>
						<label>Confirm password</label>
						<input type="text" class="span3" placeholder="Email"> 
						<br>
						<label>Default location</label>
						<input type="text" class="span3" placeholder="Email"> 
						<br>
						<button type="submit" class="btn">Register</button>  
					</form>  
				</div>

			</div>
		</div>
		<br><BR><BR>
	</div>
</body>