html {
	font-family: Georgia;
}

.gray_text {
	line-height:2em;
	color: #BBBBBB;
	text-decoration: none;
}

#links a:link, #links a:visited, #links a:hover, #links a:active {
	color: #DDDDDD;
	font-size: 25px;
	text-decoration: none;
	padding-left: 25px;
	padding-right: 25px;
}

.labels{
	color: #DDDDDD;
	font-size: 25px;
	text-decoration: none;
}


.formatted_input {
	border:0;
	background-color: #DDDDDD;
	font-size:25px;
	box-shadow: none;
}

.formatted_button input {
	font-size:25px;
	color:#DDDDDD;
	background-color: transparent;
	border: none;
}

#password-clear {
    display: none;
}

.post_user_time {
	float:left;
	width:150px;
}

.post_user_pic {
	float:left;
	margin-right: 15px;
}

.post_map {
	float:right;
	margin-left: 15px;
}

.post_title {
	font: bold 24px Helvetica;
	color: #1C75BC;
}

#container {
	margin-bottom: 25px;
}

footer {
	background-image: url('../images/splash_bottom_tile.png');
	color: #FFFFFF;
	margin-top:25px;
	height:70px; 
	text-align:center;
}

footer a{
	color: #FFFFFF;
}

body {
	margin: 0;
	padding: 0;
}

#header {
	background: url('../images/header_tile.png') repeat-x;
	background-size: 110px;
	height: 110px;
}

#user_nav {
	float: right;
	padding: 25px;
}

.form {
	padding:25px;
}

/* INDIVIDUAL QUESTIONS PAGE */

#question_main, .individual_response, #response_form, .individual_challenge, #challenge_form, .individual_question {
	padding: 5%;
	background-color: rgba(255, 255, 255, 0.6);
}

.individual_response {
	padding-top: 2%;
	padding-bottom: 2%;
}
#question_main {
	min-height:250px;
}
#question_map {
	float:right;
	width:200px;
	padding-left:20px;
	padding-bottom:10px;
}
#question_title {
	font-size: 25px;
}

#sidebar {
	float: right;
	width: 25%;
	padding-left: 2%;
	min-height: 80%;
	background-color: rgba(255, 255, 255, 0.6);
}
#main_content {
	width: 70%;
}
#question_description {
	font-size:13px;
}
#map_canvas {
	height:200px;
	width:200px;
}