<div id="container">
		<div class="row" id="navbar">
			<div class="span3">
				<img src="assets/img/logo.png"  />
			</div>
			<div class="span9">
				<div class="row">
					<div class="span3 offset7">
						<a href="#">Register</a>
						&nbsp;&nbsp;|&nbsp;&nbsp;
						<a href="#">Login</a>
						</div>
				</div>
				<div class="row">
					<div class="span3 offset1">
						<h2>Now exploring: </h2>
					</div>
					<div class="span3">
						<form class="navbar-form pull-left navform">
					  		<input type="text" class="span3" value="Berkeley, CA">
						</form>
					</div>
				</div>
				<div class="row">
					<div class="navbar">
					  <div class="navbar-inner">

							<ul class="nav">
							  <li><a href="#">Ask Questions</a></li>
							  <li><a href="#">Connect to Others</a></li>
							  <li><a href="#">Post Challenges</a></li>
							  <li><a href="#">Organize Events</a></li>
							  <li><a href="#">Projects</a></li>
							</ul>

					  </div>
					</div>
				</div>
			</div>
		</div>
		<div id="content">
			<div class="row" id="carousel">
			<div class="span6"><img src="assets/img/dummy_carousel.png" /></div>
			<div class="span5">
				<h1>Welcome to AppCivist!</h1>
			<br />
			<p id="carousel_desc_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas, tortor et imperdiet aliquam, ante magna eleifend lectus, ut scelerisque tortor sapien eget quam. Nullam vel metus nec mauris molestie aliquam vel pharetra eros. Suspendisse quis lacus eu nulla molestie suscipit. lacus eu nulla molestie.</p> </div>
		</div>
			<div class="row" id="featured">
		    <div class="span4 featuredbox">
		        <h1>Column #1</h1>
		        <p>Content for column #1.</p>
		    </div>
		    <div class="span4 featuredbox">
		        <h1>Column #2</h1>
		        <p>Content for column #2.</p>
		    </div>
		    <div class="span4 featuredbox">
		        <h1>Column #3</h1>
		        <p>Content for column #3.</p>
		    </div>
		</div>
		</div>
	</div>
	</body>