<h1>Categories</h1>
<ul>
<% @categories.each do |category| %>
<li><%=category.name%></li>
<%end %>
</ul>




<%= form_for @category do |f| %>
  <%=f.label :category_name %>
  <%=f.autocomplete_field :category_name, welcomes_autocomplete_category_name_path %>
<% end %>
