<!--<style type="text/css">
#sidebar {
	float: left;
	width: 25%;
	margin: 0 5%;
	min-height: 100%;
	background-color: #DDDDDD;
}
#content {
	width: 70%;
}
</style>

<div id="sidebar">
  <h1>Filters</h1>
  <ul>
	<li>Keyword Search</li>
	<li>Last Two Months</li>
	<li>Categories</li>
  </ul>
</div>
-->

