<h1>Sent#index</h1>
<p>Hey look gaiz! </p>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
	<td>
	
		MESSAGES!
	</td>
	<tr>

  </tr>

<% @messages.each do |x| %>
  <tr>
	<% x.message_copys.each do |msg| %>
	<td>
	 Subject: <%=h x.subject %>
	</td>
	
	<td>
	 Body:	<%=h x.body %>
	</td>
	
	<td>
	User:	<%=h msg.user.login %>
	</td>	
	<% end %>



  </tr>
<% end %>
</table>

<%= link_to 'New post', 'new' %>