<h1>Listing response_questions</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @response_questions.each do |response_question| %>
  <tr>
    <td><%= link_to 'Show', response_question %></td>
    <td><%= link_to 'Edit', edit_response_question_path(response_question) %></td>
    <td><%= link_to 'Destroy', response_question, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Response question', new_response_question_path %>
