
<script type="text/javascript">
$(document).ready( function() {


				load_map();
		
});

var poly, map;
var markers = [];
var path = new google.maps.MVCArray;
var polygons = new Array();
var dumbo = new Array();
var paths = new Array();
function load_map() {
	var lat = 0;
	var lng = 0;
	var center;

	
	var tableID = 2036527;
	var geocoder = new google.maps.Geocoder();
	 var uluru = new google.maps.LatLng(37.8667186, -122.2533931);
	map = new google.maps.Map(document.getElementById('mapview_map'), {
	  center: uluru,
	  zoom: 10,
   mapTypeId: google.maps.MapTypeId.SATELLITE
	});	
	var i = 0;
	<% @areas.each do |coordinate_list| %>
		var newPath = new google.maps.MVCArray;
		<% coordinate_list.each do |item| %>
		var lat = <% item.split(", ")[0] %>
		var lng =<% item.split(", ")[1] %>
			newPath.insertAt(newPath.length, new google.maps.LatLng(lat,lng));
		<% end %>
		var newPoly = new new google.maps.Polygon({
	      strokeWeight: 3,
	      fillColor: '#5555FF'
	    });
	    polygons.push(newPoly);
	    newPoly.setMap(map);
	    newPoly.setPaths(new google.maps.MVCArray([newPath]));
	<% end %>

}
function addPoint(event) {

}

function getParameter()
{
	
}

function load()
{

}


</script>
<div id='content'>
<div id='mapview_map'></div>


<b>Your List of Available Similar Maps</b><br>
<input type="checkbox" name="list" value="1">Your Map<br>
<input type="checkbox" name="list" value="2">Map 1<br>
<input type="checkbox" name="list" value="3">Map 2<br>
<input type="checkbox" name="list" value="4">Map 3<br>
<input type="checkbox" name="list" value="5">Map 4 and <% @table %><br>

<input type="button" name="CheckAll" value="Check All"
onClick="checkAll(document.myform.list)">
<input type="button" name="UnCheckAll" value="Uncheck All"
onClick="uncheckAll(document.myform.list)">
<br>


</div>
