<div id="container">

    <div id="content">
      <div class="row">
        <div id="list_banner">
        <div class="span10">

          <h1> Activity Feed </h1>
        </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="span8">
            <ul class="map_view1">
              <li>List By<br>
                <ul class="filter_elements">
                  <li>
                  Questions
                  </li><li>
                  Challenges
                  </li><li>
                  Events
                  </li>
                </ul>
              </li>

              <li>Categories<br>
                <ul class="filter_elements">
                  <li class="checkbox">
                  <input type="checkbox"> Dignity & Rights
                  </li>
                  <li class="checkbox">
                  <input type="checkbox"> Education
                  </li>
                  <li class="checkbox">
                  <input type="checkbox"> Health & Safety
                  </li>
                  <li class="checkbox">
                  <input type="checkbox"> Public Space
                  </li>
                  <li class="checkbox">
                  <input type="checkbox"> Transportation
                  </li>
                </ul>
              </li>
              <li>Popular<br>
                <ul class="filter_elements">
                  <li>
                  Placeholder
                  </li><li>
                  Placeholder
                  </li><li>
                  Placeholder
                  </li>
                </ul>
              </li>
              <li>Personal<br>
                <ul class="filter_elements">
                  <li>
                  Placeholder
                  </li><li>
                  Placeholder
                  </li><li>
                  Placeholder
                  </li>
                </ul>
              </li>
              <li>Tagged Areas<br>
                <ul class="filter_elements">
                  <li>
                  Placeholder
                  </li><li>
                  Placeholder
                  </li><li>
                  Placeholder
                  </li>
                </ul>
              </li>
            </ul>
        </div>
        <div class="span2">
            <img src="../oldfrontend/dummy_listmapswitch.png">
            <br>
            <b><a href="#">What's Happening</a><br>
              <a href="#">Subscriptions</a>
            </b>
        </div>
        <br><br><br>
      </div>
      <hr class="separator"/>
      <div class="row">
        <div class="span2">
        a
        </div>
        <div class="map_view1">
        </div>
        <div class="map_view1_map">
          <img src="http://placehold.it/735x570"/>
        </div>
    </div>

  </div>

</body>
