<div class="row" id="footer">
		<a href="#" class="white_text">Learn More</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="#" class="white_text">F.A.Q.</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="#" class="white_text">About</a>		
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="#" class="white_text">Contact</a>	
		&nbsp;&nbsp;&#8226&nbsp;&nbsp;
		2012 &#169 Social Apps Lab, UC Berkeley
	</div>
